body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #021024;
    color:#fff;
    font-family: myFont
}

@font-face{
    font-family: myFont;
    src: url(../fonts/Changa-VariableFont_wght.ttf);
    font-weight: 500;
}

b{
    text-shadow: 0px 0px 1px #fff;
    color:#f8d90f;
}

:root{
    --colorTema:#163959;
    --colorFondo:#021024;
}

.header{
    position:relative;
    top:0;
    left: 0;
    right: 0;
    background-color: var(--colorTema);
    padding: 0px 4%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 1000;
}

header figure{
    width: 420px;
    margin:0;
}

header img{
    width: 100%;
    margin:0;
}

.navigation ul{
    list-style: none;
}


.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 15px;
    color:#fff;
    text-decoration: none;
    padding: 10px 35px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: block;
    transition: all .5s ease;
    
}

.header .navigation ul li a:hover{
    background-color: #fafafa;
    transform: scale(1.05);
    color:var(--colorTema);
    box-shadow:0 0 7px #fff;
}

.header .navigation ul li ul{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgb(23, 57, 89,0.9);
    display: none;
    padding:2px;
    border-radius: 0 0 10px 10px;
}

.header .navigation ul li ul li a{
    font-size: 13px;
    
}

.header .navigation ul li ul li ul{
    position: absolute;
    top:0;
    right: 300px;
}

.header .navigation ul li ul li{
    width: 100%;
}

.header .navigation ul li:hover > ul{
    display: initial;
}

#toggle,.header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 45px;
    height: 35px;
}

/*=========Header==========================*/

.header-container{
    padding: 20px 0 0 0;
    z-index: -1;
    background:linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url(../galeria/fotosLiceo/aaa.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:top center;
    position: relative;
    height: 80vh;
    box-shadow: 0 10px 20px #072402;
}

.container3d{
    position: absolute;
    content:"";
    z-index: 2;
    top:600px;
}

.titulo-header{
    color:#fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.titulo-header h2, h1{
    margin:0px 10px ;
    text-align: center;
    text-shadow:  0 0 5px var(--colorTema);
}

.titulo-header h2{
    font-size: 30px;
    padding-bottom: 270px;
}

.header-links-container{
    padding:  20px 40px 20px 40px;
    color:#fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--colorTema);
    margin:0 20px 0 20px;
    border-radius: 10px 10px 0 0 ;
}

.header-links-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    padding: 10px;
    transition-duration:0.5s ;
    color:#fff;
}

a{
    text-decoration: none;
}


.header-links-item:hover{
    background-color: #fcfcfc;
    transform: scale(1.05);
    color:var(--colorTema);
    box-shadow: 0 0 10px #fff;
}

.icon-header{
    height: 53px;
    width: 53px;
}

.links-icon-titulo h3{
    margin: 0;
}


/*==========Body Container===================================================*/

.body-index-container{
    padding: 30px 40px 100px;
    margin:0 20px 0 20px; 
}

.liceo-description-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding: 70px 30px 0;
}

.liceo-description{
    padding: 20px;
    width: 80%;
}

.index-titleLiceo{
    font-size: 30px;
    border-bottom: solid var(--colorTema);
    text-align: center;
}

.liceo-description p{
    color:fff;
    text-align: justify;
}

.image-logoLiceo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-logoLiceo figure{
    width: 300px;
}

.image-logoLiceo img{
    width: 100%;
    filter: drop-shadow(5px 5px 10px #f8d90f);
}

.readMore-description{
    padding: 10px 30px;
    margin:0 0 0 50px;
    border:solid #fff;
    color:#fff;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    transition-duration:.4s;
}

.readMore-description:hover{
    background-color: #fff;
    color:var(--colorTema);
}


/* ================Seccion galeria Index================================================================================ */
.gallerySection-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 0 100px;
    margin:0 20px 0 20px;
}

.gallerySection-item1, .gallerySection-item2, .gallerySection-item3, .gallerySection-item4{
    height: 500px;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(../galeria/fotosLiceo/picture-gallerySection1.jpg);
    background-size: cover;
    background-position: center;
    transition-duration: 1s;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    font-size: 20px;
    clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
    border-radius: 4px;
}

.gallerySection-item1 h3, .gallerySection-item2 h3, .gallerySection-item3 h3, .gallerySection-item4 h3{
    margin:0 0 0 20px;
}

.gallerySection-item1:hover{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0),rgba(0,0,0,0)),url(../galeria/fotosLiceo/picture-gallerySection1.jpg);
    transform:scale(1.04);
    text-shadow: 02px 2px #000;
}

.gallerySection-item2{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(../galeria/fotosLiceo/liceo9.jpg);
}

.gallerySection-item2:hover{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0),rgba(0,0,0,0)),url(../galeria/fotosLiceo/liceo9.jpg);
    transform:scale(1.04);
    text-shadow: 02px 2px #000;
}

.gallerySection-item3{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(../galeria/fotosLiceo/liceo10.jpg);
}

.gallerySection-item3:hover{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0),rgba(0,0,0,0)),url(../galeria/fotosLiceo/liceo10.jpg);
    transform:scale(1.04);
    text-shadow: 02px 2px #000;
}

.gallerySection-item4{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),url(../galeria/fotosLiceo/liceo12.jpg);
}

.gallerySection-item4:hover{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(0,0,0,0)),url(../galeria/fotosLiceo/liceo12.jpg);
    transform: scale(1.04);
    text-shadow: 02px 2px #000;
}




/*==============Noticias Container======================================0========*/

.news-container{
    padding: 0 0 0 0 ;
    background-color: var(--colorTema);
}

.newsTitle-container{
    background:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../galeria/fotosLiceo/20240103_133049.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding: 50px 0;
    text-align:center;
    font-size:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsTitle-container h2{
    margin: 0;
    border-bottom: solid #fff;
}

.newsTitle-container a{
    margin:0;
    font-size: 20px;
    border:solid #fff;
    color:#fff;
    padding: 7px;
    border-radius: 4px;
    transition: .5s;
}

.newsTitle-container a:hover{
    box-shadow: 0 0 20px #fff;
    background-color: #fff;
    color:var(--colorTema)
}



.newsSection-container{
    margin:50px;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newSection-item{
    display: flex;
}

.dateNewsCadetes{
    font-size: 30px;
    text-align: center;
}

.dateNewsCadetes h3{
    margin:0
}

#newsMonth{
    border-bottom: solid #fff;
}

#newsYear{
    font-size: 60px;
    color:#f8d90f
}

.imageNewsCadetes figure{
    width: 400px;
}

.imageNewsCadetes img{
    width: 100%;
    box-shadow: 1px 0px 5px #fff;
}

.newsCadetes{
    padding: 30px;
}

.newsCadetes h3{
    border-bottom: solid #fafafa;
    text-align:justify;
}

/* ==========Fechas Importantes================================================================================= */

.title-importantDates{
    text-align: center;
    border-bottom:solid #fff;
    font-size: 20px;
}

.importantDates-items-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px 40px;
}

.importantDates-item{
    background-color: var(--colorTema);
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    height: 160px;
    margin:15px;
    border-radius: 10px;
    transition: .5s;
}

.importantDates-item h3{
    margin:0;
    font-size: 30px;
}

.importantDates-item p{
    margin:0;
}

.importantDates-item:hover{
    background-color: #fff;
    color:var(--colorTema)
}


/* ============Footer=================================================================== */

.footer-container{
    margin-top:60px;
    background-color: var(--colorTema);
    display: grid;
    grid-template-areas:
    "logoLMGSM logoLMGSM logoLMGSM"
    "ubication socialNetworks linkForces";
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    color:#fff;
}

.logoLMGSM-footer{
    grid-area: logoLMGSM;
    display: flex;
    justify-content: center;
}

.logoLMGSM-footer figure{
    margin:0;
    width: 500px;
}

.logoLMGSM-footer img{
    width: 100%;
}

.ubicationLMGSM-footer{
    grid-area: ubication;
    display: flex;
    justify-content: center;
}

.ubicationLMGSM-footer iframe{
    width: 400px;
    height: 300px;
}

.socialsNetworks-footer{
    grid-area: socialNetworks;
}

.socialsNetworks-items{
    display: flex;
    justify-content: space-evenly;
}

.socialsNetworks-copyright{
    text-align: center;
}

.socialsNetworks-copyright h4{
    margin:10px
}

.icon-footer{
    width: 40px;
    height: 40px;
    color:#fff;
    margin:0;
    transition-duration: 0.2s;
}

#icon-instagram:hover{
    color:#ce17e3;
}

#icon-facebook:hover{
    color:#105ef9;
}

#icon-youtube:hover{
    color:#FF0000;
}

.linkForces-footer{
    grid-area:linkForces;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkForces-footer-items{
    display: flex;
    align-items: center;
    width: 250px;
    padding: 5px 0px 5px 20px;
    text-align: ce;
    background-color: #fff;
    border-radius: 10px;
    font-size: 12px;
    color:#000;
    margin: 10px 10px 5px 0;
    transition-duration: 0.5s;
}

.linkForces-footer-items:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #fff;
}

.linkForces-footer figure{
    width:40px;
    margin:0 10px 0 0;

}

.linkForces-footer img{
    width: 100%;
}

/* ==============Autoridades===================================================================================== */

.header-autoridades-container,.header-historia-container, .header-cancionLiceo-container,.header-directores-container,.header-abanderados-container{
    background:linear-gradient(to top,rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(../galeria/fotosLiceo/liceo1.jpeg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.header-mision-container{
    background:linear-gradient(to top,rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)),url(../galeria/fotosLiceo/liceo3.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.title-autoridades-container, .title-mision-container, .title-historia-container,.title-cancionLiceo-container,.title-directores-container,.title-abanderados-container{
    text-align: center;
    padding: 100px 0;
}

.title-autoridades-container h2, .title-mision-container h2, .title-historia-container h2, .title-cancionLiceo-container h2, .title-directores-container h2, .title-abanderados-container h2{
    margin: 0 ;
    font-size: 50px;
    color:#fff;
    text-shadow: 0 0 5px #000;
}

.body-autoridades-container{
    margin:  0 30px ;
    box-shadow: 1px 1px 10px  #fff;
    padding-bottom: 40px;
    background-color: var(--colorTema);
    border-radius: 10px;
}

.box1-autoridades-container{
    display: flex;
    justify-content: center;
    margin: 60px 30px 100px;
}

.box2-autoridades-container, .box3-autoridades-container, .box4-autoridades-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.box1-autoridades-item,.box2-autoridades-item, .box3-autoridades-item, .box4-autoridades-item{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 20px 100px;
    transition-duration: 0.5s;
}

.box1-autoridades-photo figure, .box2-autoridades-photo figure, .box3-autoridades-photo figure, .box4-autoridades-photo figure{
    margin:0px;
    width: 250px;
}

.box1-autoridades-item:hover, .box2-autoridades-item:hover, .box3-autoridades-item:hover, .box4-autoridades-item:hover{
    transform: scale(1.05);
}

.box1-autoridades-photo img, .box2-autoridades-photo img, .box3-autoridades-photo img, .box4-autoridades-photo img{
    width: 100%;
}

.box1-autoridades-name, .box2-autoridades-name, .box3-autoridades-name, .box4-autoridades-name{
    background-color:#ffffbf;
    color:#000;
    position:absolute;
    text-align: center;
    width: 230px;
    height: 90px;
    padding: 10px 0;
    top:83%;
}

.box2-autoridades-name{
    height: 60%;
}

.box4-autoridades-name{
    height: 70%;
}

#fontSize-jefeDeCuerpo h2{
    padding-bottom: 10px;
    font-size: 18px;
}

.box1-autoridades-name h2, h3, .box2-autoridades-name h2 h3, .box3-autoridades-name h2, h3, .box4-autoridades-name h2 h3{
    margin: 10px 0;
}

.fontSize-autoridades{
    font-size: 18px;
}

/* =================MISION============================================================================ */

.body-mision-container{
    margin:80px 60px;
}

.firstText-mision h3{
    text-align: center;
}

.mision-container{
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.mision-item{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--colorTema);
    padding:10px;
    margin:30px 10px;
    width: 100%;
    transition-duration: .5s;
}

.mision-item h3{
    color:#fff;
    font-size: 17px;
    text-align: center;
}

.mision-item:hover{
    transform: scale(1.1);
}

.mision-icon-item{
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 10px;
}

.mision-icon-item figure{
    width: 180px;
    margin:0;
    text-align: center;
    background-color: #fff;
    border-radius: 60%;
    filter:drop-shadow(0 0 13px #fff)
}

.mision-icon-item img{
    width: 100%;
}

.ideario-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 70px;
    flex-direction:column;
    text-align: justify;
    padding: 20px;
    box-shadow: 2px 2px 20px #413f3f;
    border: double #fff;
    background-color: var(--colorTema);
}




/* ==============HISTORIA========================================================================= */


.body-historia-item{
    background:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url(../galeria/extras/papelGastado.jpg);
    background-attachment: fixed;
    margin: 0 160px;
    padding: 30px;
    box-shadow: 0 0 10px #fff;
    bORDER:double #fff;
    color:#fff;
    padding: 30px 100px;
    border-radius: 5px ;
}

.body-historia-item p{
    text-align: justify;
    font-size: 18px;
}

.body-historia-item figure{
    width: 59%;
    margin-left: 0;
}

.body-historia-item img{
    width: 100%;
}

#historia-photo1{
    float: left;
    padding: 10px;
}

#historia-photo2{
    width: 140%;
}

#historia-photo3{
    width: 80%;
    float: left;
    margin-right: 20px;
}


/* =============CANCION DEL LICEO============================================================= */

.body-cancionLiceo-container{
    background-color: var(--colorTema);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#000;
}

.musicBox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.photoMusicBox-container figure{
    width: 180px;
}

.photoMusicBox-container img{
    width:100%;
}

.items-musicBox-container{
    color:#fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 10px;
}

.items-musicBox-container h3{
    border-bottom: solid #fff;
}

audio{
    width: 100%;
}

.liceoSongLyrics{
    text-align: center;
    background:url(../galeria/extras/papelGastado.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

.paragraph p{
    margin:0px;
}

.paragraph{
    padding: 10px 0;
}

/* ======================DIRECTORES y ABANDERADOS============================================================== */

.body-directores-container,.body-abanderados-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
}

table{
    background-color: var(--colorTema);
    padding: 40px 100px;
    color:#d4cdcd;
}

th{
    color:#f8d90f;
    text-align: start;
}

td{
    padding: 10px  30px 10px ;
    margin:0 30px;
    text-align: start;
    border-bottom: solid 1px #fff;
}

tr{
    border-bottom: solid 1px #fff;
}

.padding-td{
    padding-right: 200px;
}

.title-directores-item, .title-abanderados-item{
    font-size: 26px;
}




















































/*===========Responsive======================================*/
@media only screen and (max-width:1100px){
    .liceo-description-container{
        flex-wrap: wrap;
    }

    .readMore-description{
        display: flex;
        justify-content: center;
    }
}


@media (max-width:1010px){
    .header label {
        display: initial;
    }

    .header{
        padding: 20px 10%;
    }

    .header .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1,1,1,0.7);
        display: none;
    }

    .header .navigation ul li{
        width: 100%;
    }

    .header .navigation ul li a{
        padding: 8px 30px 8px 10px;
    }

    .header .navigation ul li ul{
        position: relative;
        width: 100%;
        left:0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(1,1,1,0.2);
    }

    .header .navigation ul li ul li ul{
        position:relative;
        width: 100%;
        left:0;
    }

    #toggle:checked ~ .navigation{
        display: block;
    }
}

